
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{ 
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}
.thongbao{
    height: 40px;
    text-align: center;
    background: rgb(144, 245, 186);
    font-size: 25px;
    line-height: 40px;
}
.menu-logo{
    position: relative;
    height: 50px;
    background: rgb(242, 255, 186)
}
.menu-logo .logo{
    position: absolute;
    top: 10px;
    line-height: 50px;
    left: 70px;
}
.menu-logo nav{
    position: absolute;
    right: 25px;
}
.menu-logo nav a{
    text-decoration: none;
    color: black;
    margin: 0 25px ;
    line-height: 50px;
    font-size: 20px;
}
.menu-logo nav a:visited{
    color: blue;
}
.menu-logo nav a:hover{
    text-decoration: none;
    color: red;
    font-weight: bold;
}
.banner{
    width: 100%;
   
}
.banner img{
    max-width: 100%;
}
.container{
    max-width: 1900px;
    margin: 0 auto;
}
h1{
    text-align: center;
    color: red;
    font-size: 60px;
    letter-spacing: .05em;
    text-shadow: 4px 4px 0px greenyellow, 7px 7px 0px rgba(0, 0, 0, 2);
    border: 5px dotted greenyellow; 
}
.container>nav{
    line-height: 40px;
    background-color: orangered;
    color:white;
    text-align: center;
    font-variant: small-caps;
}

.menu>ul>li{
    display:inline-block;
   position: relative;
}

.menu ul ul{
   position:absolute;
   display: none;
   padding: 0px;
   margin: 0px;
   list-style: none;
   border-radius: 3px;
   width: 200px;
   background-color: white;
   box-shadow: 0 0 1px gray;
}
.menu ul ul a{
   display: block;
   line-height: 30px;
   color:orangered;
   text-decoration: none;
   font-variant: small-caps;
   font-size: larger;
   padding: 0 10px;
}
.menu ul ul a:hover{
   background-color: orangered;
   color:white;
}

.menu>ul>li:hover>ul{
   display: block;
}
.menu>ul>li>a{
   display: block;
}
.menu>ul{
   padding: 0px;
   margin: 0px;
   list-style: none;
   border-radius:3px;
   background-color: orangered;
}
.menu>ul>li>a{
   text-decoration: none;
   font-variant: small caps;
   font-size:larger;
   color:white;
   padding: 0 10px;
   line-height: 40px;
}
.menu>ul>li>a:hover{
   color:yellow;
}

aside{
    float: right;
    width: 20%;
    background-color: rgb(235, 251, 252);
    margin-top: 0px;
    min-height: 1400px;
}

aside .card{
    background-color: rgb(235, 251, 252);
    padding: 20px;
    font-size: 16px;
    border-radius: 5px;
}
aside .form-button{
    padding:8px 30px;
    outline:none;
    border:none;
    border-radius:20px;
    font-weight:bold;
    background-color:rgb(235, 251, 252);
    color:orangered;
    box-shadow:inset 0 0 20px blue;
    margin-top: 10px;
    margin-left: 20px;
}
label{
    margin-left: 20px;
    font-size: 20px;
    font-weight: bold;
}
.form-button:hover{
    color: blue;
    box-shadow: inset 0 0 20px orangered;
}
.hinhanh{
    margin-top: 30px;
}
.hinhanh> img{
   width: 290px;
   height: 200px;
}
.hinhanh img:hover{
    transform: scale(1.05);
}
article{
    min-height: 400px;
    width: 80%;
    background-color:white;
    float:left;  
 
}
.news-list .news-item{
    display: inline-block;
    margin: 5px 13px;
    text-align: center;
    color: rgb(125, 196, 20);
 
}
.news-list .news-item img{
    width: 360px;
    height: 300px;
}
.news-list .news-item:hover{
    transform: scale(1.05);
    background: tomato;
    border-color: red;
}
footer{
    border-top: 3px double red;
    background: rgb(242, 255, 186);
    display: inline-block;
    width: 100%;  
}    

footer .footer-item{
    width: 300px;
    display: inline-block;
    margin: 10px 30px;
}
.tacgia{
    text-align: center;
    background:rgb(144, 245, 186);
    height: 40px;  
}


